@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(-45deg, #ffffff, #ff0000, #000fff, #00ff00);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 250vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}